.blog-listing-section{
    // .g-col.offset_default{
    //     position: relative; 
    // }
}
.sidebar{
    width: 265px; 
    // position: absolute;
    // left: 72%;
    // top: 260px; 
    // margin: 0 !important; 
    .inline-form{
        margin-bottom: 1px;     
    }
    @media only screen and (max-width: 1024px) {
        // display: none;
        position: fixed;
        left: 0;
        bottom: -260px;
        background-color: #fff;
        width: 100%;
        padding: 0;
        z-index: 9; 
        transition: all .3s;
    } 
    &.active{
        bottom: 0;   
        .sidebar-header{
            &::before{
                transform: none;
            }
        }
    }
}
.sidebar-header{
    position: relative;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.7px;
    color: #414141;
    font-weight: 700;
    padding-bottom: 15px;
    margin: 90px 0 50px 0; 
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0; 
        width: 46px;
        height: 6px;
        background-color: #DDDFE1; 
    }
    @media only screen and (max-width: 1024px) {
        padding: 15px;
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        // padding: 20px;
        &::before{
            content: '';
            position: absolute;
            left: auto;
            right: 15px;
            top: 50%;
            width: 14px;
            height: 7px;
            background-image: url(../../images/icons/up-arrow-ico.svg);
            transform: rotate(180deg);
            background-color: transparent;
        }
        
    }
}
.sidebar-listing{
    padding: 0;
    list-style-type: none;
    li{
        display: block;
        padding: 0;
        list-style-type: none;
    }
    @media only screen and (max-width: 1024px) {
        padding: 0;
    }
}
.count{
    font-size: 16px;
    line-height: 24px;
    color: #565455;
    letter-spacing: 1px;
}
.post-sidebar{
    @media only screen and (max-width: 1024px) {
        text-align: left;
    }
    .sidebar-section-listing{
        margin-bottom: 25px;
        &:last-child{
            margin: 0;
        }
    }
    .sec-title{
        font-size: 32px;
        line-height: 44.07px;
        color: #414141;
        font-weight: bold;
        letter-spacing: -0.7px;
        @media only screen and (max-width: 1024px) {
            font-size: 28px;
            line-height: 38px;
        }
    }
    .sidebar-listing{
        li{
            a{
                display: inline-block; 
                font-family: 'Ubuntu', sans-serif; 
                font-size: 14px;
                line-height: 22px;
                color: $org-col;
                font-weight: 400;
                letter-spacing: 0.44px;
                margin-top: 10px;
                @media only screen and (max-width: 1024px) {
                    margin-top: 5px;
                }
                &:hover{
                    color: $dark-org-col; 
                }
                .count{
                    font-size: 14px;
                    line-height: 22px;
                    color: $org-col;
                    font-weight: 400;
                    letter-spacing: 0.44px; 
                }
            }
            &::last-child{
                .checkbox-container{
                    border-bottom: 0;  
                }
            }
        }
        &.tags-listing{
            font-size: 0; 
            .tag-link{
                display: inline-block;
                margin-right: 8px;
                margin-bottom: 8px;
                a{
                    display: block;
                    font-size: 9px;
                    line-height: 13px;
                    color: #8D8788;
                    font-weight: 500;
                    letter-spacing: 0.18px;
                    border-radius: 30px;
                    background-color: #ECECEC;
                    padding: 6px 12px; 
                    text-transform: uppercase;
                    &:hover{
                        color: $white-col;  
                        background-color: $dark-org-col;  
                        
                    }
                }
                &:active{
                    background-color: $dark-org-col; 
                    &:hover{
                        background-color: $dark-org-col; 
                        color: $white-col;  
                    }
                }
                
            }
        } 
    }
    .get-update-ces{
        background-color: #ECECEC;
        padding: 60px 20px;
        border-radius: 8px;
        .sec-title{
            // margin-bottom: 50px;
        }
        p{
            font-size: 11px;
            line-height: 14px;
            color: #8D8788;
        }
        h6{
            font-size: 11px;
            line-height: 16px;
            color: #8D8788;
            letter-spacing: 1.95px;
            text-transform: uppercase;
            a{
                color: #8D8788;
                &:hover{
                    color: $dark-org-col; 
                }                
            }
        }
        .inline-form input{
            min-width: 185px; 
        }
    }
}
.tmc-block{
    font-size: 10px;
    line-height: 12px;
    color: #4F5362;
    .checkbox-container{
        font-size: 10px;
        line-height: 12px;
        color: #4F5362;
        border: 0;
        margin: 0;
        padding-left: 25px; 
        input{ 
            left: 0;
            width: 17px;
            height: 17px;
            z-index: 1; 
        }
        .checkmark{
            width: 15px;
            left: 0;
            right: auto;
            border: 1px solid #43CB83; 
            border-radius: 50%;
            &:after {
                left: 4px;
                top: 2px; 
            }
        }
        input:checked ~ .checkmark{
            background-color: #43CB83;
        }

    }
}