.entry-header{
    .post-meta{
        margin-bottom: 35px;
    }
    .category-name{
        display: inline-block;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 1.5px;
        color: #FF8616;
        font-weight: 500;
        text-transform: uppercase;        
        margin-right: 5px;
    }
    .publish-details{
        @extend .category-name;
        color: #8D8788;
        margin: 0; 
        text-transform: none;
    }
    .entry-title{
        font-size: 30px;
        line-height: 36px;
        color: #333333;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
        color: #595656;
        font-weight: 400;
    }
}
.entry-content{ 
    .blog-img{
        display: block;
        width: 100%;
        border-radius: 18px; 
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
        color: #595656;
        font-weight: 400;
    }   
    li{
        padding-top: 10px;
        color: #333333;
    }
    strong{
        font-weight: bold;
        color: #333333; 
    }
    .item{
        position: relative;
        img{
            width: 100%; 
        }
        .video-play-btn{
            top: 45%;
        }
    }
    ul{
        margin-bottom: 25px;
        li{
            color: #595656;
        }
    }
    ol{
        margin-bottom: 25px;
        li{
            color: #595656;
        }
    }
    h2{
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    b{
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 0;
    }
    a{
        font-size: 16px;
        line-height: 26px;
        color: #595656;
        font-weight: 400; 
        color: $org-col;
        letter-spacing: 1px;
        &:hover{
            color: $dark-org-col;
        }
    }
}  

.fiveCol-slider{
    h3{
        font-size: 30px;
        line-height: 36px;
        color: #333333;
        letter-spacing: 0px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .owl-carousel{
        padding-top: 15px; 
    }
    .out-of-nav{
        .owl-nav{
            top: -40px;
        }
    }
    .slider-counter{
        top: -45px;
    }
    .sec-holder{
        padding-top: 160px;
        border-top: 1px solid #6B6A6A;  
    }
}
.blog-listing-section{
    .g-col.offset_default{
        display: block;
        clear: both;
    }
    .one-third{
        display: inline-block;
        width: 70.666667%; 
        // float: left;
        vertical-align: top;
        @media only screen and (max-width: 1024px) {
            width: 100%;
            float: none;
        }
    }
    .post-sidebar{ 
        display: inline-block; 
        position: relative;
        top: 0;
        // float: left;
        vertical-align: top; 
        @media only screen and (max-width: 1024px) { 
            position: static; 
            float: none;
        }
        &.fixed{
            position: fixed;
            right: 0;
        } 
        &.post-sidebar {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            @media only screen and (max-width: 1024px) { 
                position: static;
            }
        }
        &.post-sidebar {
            top: 130px;
        }  
    }
    .blog-listing{
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start); 
        @include flex-wrap(wrap);  
        margin-bottom: 150px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 40px;
        }
    }
    .card{
        max-width: 325px;
        margin: 30px; 
        @media only screen and (max-width: 1024px) { 
            margin: 0px; 
        }
    }
    .card-with-image{
        img{
            width: 100%;
            border-radius: 18px 18px 0 0;
        }
    } 
    
} 