.pricing-pg{
    p {
        margin-bottom: 50px;
    }  
}
.pricing-chart-table{
    padding-bottom: 110px;
    @include flexbox;
    ul{
        list-style-type: none;
        padding: 0;
    }
    @media only screen and (max-width: 1024px) {
        position: relative;
        padding-bottom: 40px;
        border-top: 1px solid #ddd; 
        // border-right: 1px solid #ddd; 
    }
}
.pricing-body{
    padding: 0;
    width: 100%;
}
.subscription-Plan{
    float: left;
    background-color: #fafafa;
    position: relative;
    color: #454545;
    padding: 14px;
    border-right: 1px solid #8D8788;
    border-bottom: 1px solid #8D8788;
    width: 207px;
}
.plan-th, .plan-td{
    // display: inline-block; 
    background-color: $white-col; 
    position: relative;
    color: #454545;
    // padding: 14px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    // width: 207px;
    li{
        font-size: 12px;
        line-height: 45px;
        color: #253858;
        font-weight: 500;
        padding: 0 25px;
        border-top: 1px solid #ddd; 
        &.plan-head{
            padding: 15px 25px; 
        }
        strong{
            display: block; 
            font-size: 13.64px;
            line-height: 16.37px; 
            font-weight: 700;
            margin-bottom: 10px;
            &.plan-price{
                font-size: 47.74px;
                line-height: 52.51px;
                letter-spacing: -0.84px;
                color: #8D8788; 
                margin: 0; 
            }
        }
        &.btn-block{ 
            padding: 25px 0;
            @include justify-content(center); 
            @media only screen and (max-width: 1024px) {
                padding: 10px 0;
            }
        } 
        .btn{
            font-size: 12px;
            line-height: 16px; 
            padding: 9px 15px;
            letter-spacing: 1.2px; 
        }
        @media only screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 55px; 
            font-size: 10px;
            line-height: 17px;
            border-bottom: 1px solid #ddd;
            border-top: 0;   
        }
    }
    @media only screen and (max-width: 1024px) {
        margin-bottom: 30px;
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0; 
        padding-top: 45px;
    }
}
.plan-th{
    border-left: 1px solid #ddd; 
    width: 28%;
    @media only screen and (max-width: 1024px) {
        width: 50%;
    }
}
.plan-td{
    width: 18%;
    @media only screen and (max-width: 1024px) {
        width: 50%; 
        display: none;
        border-left: 0; 
        // border-right: 0;  
    }
}
.pricing-switcher{
    margin-bottom: 100px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 40px;
    }
}
.popular{
    position: relative;
    box-shadow: 0px 1px 15px 0 rgba(141, 135, 136, 0.6);   
    z-index: 1; 
    @media only screen and (max-width: 1024px) {
        margin-top: 60px;
    }
    li{
        strong{
            &.plan-price{ 
                color: $org-col; 
            }
        } 
        &.lbl-popular{
            position: absolute;
            top: -42px;
            left: 0;
            width: 100%;
            border: 0;
            background-color: #FF8616;
            color: #fff;
            font-size: 16px;
            line-height: 22.92px;
            padding: 10px 0;
            border-radius: 10px 10px 0 0;
            text-transform: uppercase;
            @media only screen and (max-width: 1024px) {
                top: -10px;
                padding: 0;    
            }
        }
    }
}
.pricing-fieldset{
    position: relative;
    .switch{
        position: absolute;
    }
}
.select-field{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}