footer{
    padding: 175px 0;
    background-color: $black-col;
    z-index: 1;
    h6{
        margin-bottom: 20px;
        text-transform: uppercase;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: rgba(255,255,255, .7);
            padding: 15px 15px;
            margin: 0;
            border-top: 1px solid rgba(255,255,255, .5);
            text-transform: none;
            letter-spacing: .3px;
            opacity: .6;
            &:last-child{
                border-bottom: 0; 
            }
        }
        &.toggle{
            position: relative;
            &::before{
                @media only screen and (max-width: 1024px) {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    width: 14px;
                    height: 7px;
                    background-image: url('../../images/icons/foot-acc-arrow.svg');
                    transform: rotate(180deg);
                }    
            }
        }
        &.resources{
            border: 0; 
        }
    }
    .subscription-sec{
        @media only screen and (max-width: 1024px) {
            margin: 0 auto;
            text-align: center;
            border-top: 1px solid rgba(255,255,255, .5); 
            h6{
                border: 0;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 2.75px;
                text-transform: uppercase; 
            }
            p{
                opacity: .5;
            }
        } 
        .subscription-form{
            .inline-form{
                @media only screen and (max-width: 1024px) {
                    @include justify-content(center); 
                    margin: 0 auto;
                }
                .btn{
                    background-color: $dark-org-col;
                }
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        padding: 30px 0;
        // margin-top: 15px;
    }
}
.footer-wrap{
    @extend .header-wrap;
    @include flexbox;
    @include justify-content(space-between);
    @media only screen and (max-width: 1024px) {
        display: block; 
    }
}
.foot-col{
    @include flexbox;
    @include flex-direction(column); 
    width: 8%;
    @media only screen and (max-width: 1024px) {
        display: block;
        width: auto;
        // margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.copyright-sec{
        width: 18%;
        @media only screen and (max-width: 1024px) {
            width: auto;
            display: none; 
        }
    }
    &.subscription-sec{
        width: 23%; 
        @media only screen and (max-width: 1024px) {
            width: auto;
            padding: 40px 0; 
        }
    }
}
.foot-link-block{
    font-size: 0;
    padding: 0;
    list-style-type: none;
    @media only screen and (max-width: 1024px) {
        display: none;
    }
    li{
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 15px;
        &:last-child{
            margin: 0;
        }
        @media only screen and (max-width: 1024px) {
            margin-bottom: 0;
        }
    }
    .foot-link{
        font-size: 11px;
        line-height: 14px; 
        color: $white-col; 
        font-weight: 400;
        letter-spacing: 0px;
        @media only screen and (max-width: 1024px) { 
            display: block;
            font-size: 10px;
            line-height: 14px;
            color: rgba(255,255,255, .7); 
            opacity: .5;
            padding: 10px 15px;
        }
    }
}
.copyright-block{
    @include flexbox;
    @include flex-direction(column); 
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .foot-logo{
        display: inline-block;
        margin-bottom: 10px;
    }
    span{
        font-size: 11px;
        line-height: 15px;
        color: $white-col;
        font-weight: 400;
    }
    @media only screen and (max-width: 1024px) {
        max-width: 270px;
    }
}
.follow-us-listing{
    font-size: 0;
    padding: 0;
    list-style-type: none;
    li{
        display: inline-block;
        margin-left: 15px;
        &:first-child{
            margin: 0;
        }
    }
}
.subscription-sec{ 
    a{
        font-size: 11px;  
        line-height: 16px;
        color: $white-col;
        letter-spacing: 2.75px;
    }
}
.inline-form{
    @include flexbox;
    margin-bottom: 20px;
    input{
        display: block;
        min-width: 200px;
        position: relative;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        border: 1px solid #fff;
        border-radius: 3px 0px 0px 3px;
        color: #333333; 
        padding: 0px 0 0 20px;
        width: auto;
        background-color: $white-col;
        outline: 0;
        min-height: 45px; 
    }
    .btn{
        width: 58px;
        padding: 0;
        border-radius: 0 3px 3px 0;
        background-image: url('../../images/icons/right-arrow.svg');
        background-position: center center; 
        background-repeat: no-repeat; 
        &:hover{
            background-color: $dark-org-col;
        }
    }
}
.sticky-drawer-section{
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 9;
}
.drawer-head{
    margin-top: 80px;
}
.drawer-body{
    position: absolute;
    top: 0;
    right: -1000px; 
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    &.active{
        right: 0; 
    }
}
.contact-us{
    font-size: 14px;
    line-height: 16px;
    color: $org-col;
    font-weight: 500;
    letter-spacing: 1.4px;
    border-radius: 24px;
    padding: 38px 15px;
    border: 1px solid $org-col;
    text-transform: uppercase; 
    cursor: pointer;
    background-color: $white-col;

    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    /* white-space: nowrap; */
    writing-mode: tb-rl; 
    &:hover{
        color: $dark-org-col;
        border-color: $dark-org-col; 
    }
    @media only screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 14px;
        padding: 35px 10px;
    }
}
.sharing-icon{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $dark-org-col url('../../images/icons/share-icon.svg') no-repeat center center;
    cursor: pointer;
    &:hover{
        background-color: $dark-org-col;
    }
    @media only screen and (max-width: 1024px) {
        width: 36px;
        height: 36px;
        background-size: 50%; 
    }
}

.chat-section{  
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    @media only screen and (max-width: 1024px) {
        right: 0px;
    }
    .chat-icon{
        display: block;
        width: 64px;
        height: 73px;
        background: url('../../images/icons/chat-bot.svg') no-repeat center center;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
        @media only screen and (max-width: 1024px) {
            width: 50px;
            height: 50px;
            background-size: 100%; 
        }
    }
}
.contact-us-form{
    position: relative;
}
#close-popup{ 
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $white-col url('../../images/icons/close-icon.svg') no-repeat center center;
} 

.mob-view{
    .follow-us-block{    
        .follow-us-listing{
            @media only screen and (max-width: 1024px) {
                margin: 0 auto 15px;
                text-align: center;
            }
        }
        .copy-text{
            @media only screen and (max-width: 1024px) {
                display: inline-block;
                font-size: 10px;
                line-height: 14px;
                color: #fff;
                opacity: .5;
                text-align: center;
                max-width: 180px;
            }    
        }
        @media only screen and (max-width: 1024px) {
            text-align: center
        }
    }    
}
// .foot-col{
//     position: relative;
//     .inner{
//         &::before{
//             content: '';
//             position: absolute;
//             right: 15px;
//             top: 2px;
//             width: 14px;
//             height: 7px;
//             background-image: url('../../images/icons/foot-acc-arrow.svg');
//             transform: rotate(90deg);
//         }
//         &.show{
//             transform: none;
//         }
//     }
// }


//Embedded_form

.sf_field{
    float: none;
    width: 48%;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
    // &:nth-child(even){
    //    margin-right: 2%;   
    // }
    .w2linput.text{
        width: 90%;
        margin: 0; 
    }
}
.sf_field_checkbox1__c{
    // @include flexbox; 
    // @include justify-content(center); 
    // @include align-items(center); 
    display: inline-block;
    width: 20px;
    margin: 0;
    .checkbox{
        border: 1px solid #8D8788;
        border-radius: 50%;
        -webkit-appearance: none;
        width: 22px; 
        height: 20px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            background-color: #43CB83;
            border-radius: 50%; 
            visibility: hidden;
        }
        &:checked{
            &::after{
                visibility: visible; 
            }
        }
    }
}
.sf_field_Consent{
    p{
        margin-bottom: 0; 
    }

}
.w2lsubmit{
    .submit{
        display: inline-block;
        font-size: 14px;
        line-height: 20.5px;
        font-weight: 500;
        color: #fff;
        padding: 15px 40px;
        background-color: #FF8616;
        border: 1px solid #F36F21;
        border-radius: 30.5px;
        cursor: pointer;
        white-space: nowrap;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            color: #FF8616;
            background-color: #fff;
            border: 1px solid #FF8616;
        }
    }
}
.salesforce_w2l_lead.sf_one_column, .sf_form_salesforce_w2l_lead_25{
    width: 100%;  
}