// section bg
.white-bg{
    background-color: $white-col;  
}
.grey-bg{
    background-color: #F7F7F7;   
    @media only screen and (max-width: 1024px) {
        // background-color: transparent; 
    }
}
.org-bg{
    background-color: #FF8616; 
    h3{
        color: $white-col;
    }
    p{
        color: $white-col; 
    }

}
.l-section{
    @media only screen and (max-width: 1024px) {
        background-image: none !important;  
    }
}

.l-section-wrap{
    // position: relative;
    @extend .header-wrap; 
    @media only screen and (max-width: 1024px) {
        width: 100%;
        // padding: 0 15px;
    } 
}
.l-sub-section-pad{
    padding: 0 60px;
    @media only screen and (max-width: 1024px) {
        padding: 0; 
    }
}
.small-wrap{
    max-width: 700px; 
    margin: 0 auto;
}
.g-col{
    width: 100%; 
    @include flexbox;
    @include align-items(center); 
    @include justify-content(space-between); 
    @media only screen and (max-width: 1024px) {
        @include flex-direction(column-reverse);
        @include justify-content(center); 
        text-align: center;
        // padding: 0 15px;
    }
    &.offset_default{
        & > div{
            margin-left: 4%; 
            &:first-child{
                margin-left: 0;  
            }
            @media only screen and (max-width: 1024px) {
                margin-bottom: 0;
                &:last-child{
                    margin: 0;
                } 
            }
        }
        @media only screen and (max-width: 1024px) {
            @include flex-direction(column); 
        }
    }
    &.row-reverse{
        @include flex-direction(row-reverse);
        @media only screen and (max-width: 1024px) {
            @include flex-direction(column-reverse);
            @include justify-content(center); 
            text-align: center;
            // padding: 0 15px;
        }
    }
}
.one-cal{
    width: 24.333333%;
    @media only screen and (max-width: 1024px) {
        width: 100%;
    }
}
.one-half{
    width: 48%;
    @media only screen and (max-width: 1024px) {
        width: 100%;
        // margin-bottom: 30px;
        &:last-child{
            @media only screen and (min-width: 1025px) {
                margin-bottom: 0px;
            }
        }
    }
    .image-block    {
        @media only screen and (max-width: 1024px) {
            margin-bottom: 30px;  
        }
    }
}
.one-third{
    width: 64.666667%;
    @media only screen and (max-width: 1024px) {
        width: 100%;
    }
}
.image-block{
    @media only screen and (max-width: 1024px) {
        margin-bottom: 20px !important; 
    }
    img{
        @media only screen and (max-width: 1024px) {
            max-width: 100%;
            max-width: 300px;
        }
    }
}

//content alignment 
.align-left{
    @include justify-content(flex-start);
}
.align-center{
    @include flex-direction(column);
    @include justify-content(center);
    @media only screen and (max-width: 1024px) {
        display: block;
    }
}
.align-right{
    @include justify-content(flex-end);
    @media only screen and (max-width: 1024px) {
        display: block;
    }
}
.align-top{
    @include justify-content(flex-start);
    @include align-items(flex-start); 
    @media only screen and (max-width: 1024px) {
        display: block;
    }
}
.container{
    padding-top: 68px;
    @media only screen and (max-width: 1024px) {
        overflow: hidden;
        padding: 56px 0 0; 
    }
}
.sec-pad{
    @include flexbox;
    @include align-items(center);
    padding: 160px 0;
    @media only screen and (max-width: 1024px) {
        padding: 30px 15px;
    }
    p{
        margin-bottom: 20px;
    }
}

//Custom css
.magplus-pro-section{
    .g-col{
        max-width: 830px; 
        margin: 0 auto;
        @media only screen and (max-width: 1024px) {
            max-width: 100%;  
        }
    }
    .magpluspro-con-block{
        padding: 135px 0 90px 38%; 
        background-image: url('../../images/magplus-pro-bg.svg'); 
        background-repeat: no-repeat; 
        background-position: left top; 
        h3{
            color: $white-col;
        }
        p{
            color: $white-col;
        }
        .btn{
            background-color: $white-col;
            color: $org-col; 
        }
        @media only screen and (max-width: 1024px) {
            padding: 40px 0;
            background-size: 80%;
            padding-bottom: 220px;
            background-position: 300% bottom;
            text-align: left;
            padding-left: 25px;
        }
    }
}


//Page spacific css
.pad-top0{
    padding-top: 0; 
}
.pad-bot0{
    padding-bottom: 0; 
}
.key-offerings{
    padding-top: 0; 
    padding-bottom: 100px; 
    @media only screen and (max-width: 1024px) {
        padding: 0; 
    }
}
.casestudiesPg{
    .tab-section{
        margin-top: 55px; 
        margin-bottom: 0; 
        @media only screen and (max-width: 1024px) {
            margin: 0;
        }
    }
    h3.sec-title{
        font-size: 32px;
        line-height: 44.07px;
        color: #414141;
        letter-spacing: -0.7px; 
        @media only screen and (max-width: 1024px) {
            font-size: 24px;
            line-height: 30px;
            margin: 15px 0;
        }
    }
    p{
        font-size: 17px;
        line-height: 30px;
        letter-spacing: 0.76px;
        color: #6B6D70; 
        &.block-ellipsis{
            height: 90px;
        }
    }
    .case-studies-listing{
        .g-col{
            border-bottom: 1px solid #6B6A6A; 
            padding-bottom: 70px;
            margin-bottom: 70px; 
            &:last-child{
                border-bottom: 0; 
                padding-bottom: 0;
                margin-bottom: 0;  
            }
            @media only screen and (max-width: 1024px) {
                padding-bottom: 30px;
                margin-bottom: 30px; 
            }
        }
        .image-block{
            display: block; 
        }
        .text-link{
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 4.35px;
            color: $org-col; 
            font-weight: 500; 
        }
    }
}
.case-studies-foot{
    display: inline-flex; 
    position: relative;
    margin: 75px auto 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.sec-pad{
    .marB75{
        margin-bottom: 75px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 30px;
        }
    }
}
.how-it-works-sec{
    .one-third{
        &:first-child{
            width: 25%;
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
        }
        &:last-child{
            width: 25%;
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }
    .g-col{
        @media only screen and (max-width: 1024px) {
            flex-direction: inherit;
        }     
    }
}
.mob-view{
    display: none !important; 
    @media only screen and (max-width: 1024px) {
        display: block !important; 
    }
}
.marb-75{
    margin-bottom: 75px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 25px;
    }
}
.how-it-works-img{
    @media only screen and (max-width: 1024px) {
        max-height: 350px;
    }
}
.casestudiesdtlPg{
    .g-col.offset_default{
        @include align-items(flex-start); 
    }
}

//Fancybox
.fancybox-slide{
    @media only screen and (max-width: 1024px) {
        padding: 15px;
    }    
}